/target
*/target/
*/*/target/
*/*/*/target/
*/*/*/*/target/
*/*/*/*/*/target/
*/*/*/*/*/*/target/
/AA_SALVATAGGI
/.idea
Cargo.lock
.vscode/
*/.vscode/


# Added by cargo
#
# already existing elements were commented out

#/target
